@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Fraunces:opsz,wght@9..144,900&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Barlow", sans-serif;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.site-header {
  padding: 44px 0;
}

.site-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header__item + .site-header__item {
  margin-left: 32px;
}

.site-header__link {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
}

.site-header__menu {
  display: none;
}

@media only screen and (max-width: 800px) {
  .site-header__list {
    display: none;
  }
  .site-header__menu {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(../img/menu.svg);
    background-position: center;
    cursor: pointer;
  }
}
@media only screen and (max-width: 600px) {
  .site-header__logo {
    max-width: 163px;
  }
}
#hero {
  padding-bottom: 123px;
}

.hero__block {
  padding: 117px 0;
  background-repeat: no-repeat;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  border-radius: 10px;
  background-position-x: right;
}

.hero__content {
  margin-left: 85px;
}

.hero__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
  font-family: "Fraunces", serif;
  max-width: 493px;
  margin-bottom: 32px;
}

.hero__text {
  max-width: 417px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  opacity: 0.8;
  margin-bottom: 56px;
}
@media only screen and (max-width: 1000px) {
  .hero__text {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 40px;
  }
}

.button {
  display: inline-block;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  color: #fefcf7;
  font-family: "Fraunces", serif;
  padding: 15px 31px;
  background-color: #0e8784;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .hero__block {
    padding: 104px 0;
    background-image: url(../img/hero-tablet.jpg);
  }
  .hero__content {
    margin-left: 58px;
  }
  .hero__title {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 24px;
    font-family: "Fraunces", serif;
    max-width: 329px;
  }
  .hero__text {
    max-width: 372px;
  }
}
@media only screen and (max-width: 684px) {
  .hero__content {
    margin-left: 0;
    text-align: center;
  }
  .hero__title {
    margin: 0 auto;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 24px;
  }
  .hero__text {
    margin: 0 auto;
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 500px) {
  .hero__content {
    padding: 0 24px;
  }
  .hero__block {
    padding: 100px 0;
    background-image: url(../img/hero-mobile.jpg);
  }
}
#collection {
  padding-top: 123px;
  padding-bottom: 200px;
}

.collection__list {
  background-repeat: no-repeat;
  background-image: url(../img/collection-bgc.png);
  background-size: contain;
  padding-top: 126px;
  max-width: 1111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.collection__item {
  max-width: 255px;
  text-align: center;
}

.collection__img {
  width: 255px;
  margin-bottom: 71px;
}

.collection__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333d4b;
  margin-bottom: 24px;
}

.collection__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
}

@media only screen and (max-width: 1057px) {
  #collection {
    padding-top: 144px;
    padding-bottom: 144px;
  }
  .collection__list {
    padding-top: 59px;
    max-width: 689px;
    display: block;
  }
  .collection__item {
    max-width: 573px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 32px;
  }
  .img {
    width: 255px;
  }
  .collection__img {
    width: 255px;
    margin-bottom: 0;
  }
  .collection__content {
    max-width: 282px;
    margin-left: 36px;
  }
}
@media only screen and (max-width: 680px) {
  #collection {
    padding-top: 0;
    padding-bottom: 120px;
  }
  .collection__list {
    padding-top: 59px;
    max-width: 282px;
  }
  .collection__item {
    max-width: 282px;
    display: block;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 48px;
  }
  .img {
    width: 200px;
  }
  .collection__img {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 24px;
  }
  .collection__content {
    max-width: 282px;
    margin-left: 0;
  }
  .collection__title {
    margin-bottom: 16px;
  }
}
#choose {
  padding-bottom: 350px;
}

.choose__block {
  background-repeat: no-repeat;
  background-image: url(../img/choose-img.png);
  background-size: cover;
  background-position-x: right;
  padding-top: 100px;
  padding-bottom: 317px;
}

.choose__content {
  margin-left: auto;
  margin-right: auto;
  width: 540px;
  text-align: center;
  margin-bottom: 86px;
}

.choose__title {
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #fefcf7;
  margin-bottom: 32px;
}

.choose__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.choose__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -250px;
  max-width: 1110px;
  margin-left: 85px;
  margin-right: 85px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.choose__item {
  background: #0e8784;
  border-radius: 8px;
  max-width: 350px;
  padding-left: 47px;
  padding-right: 47px;
  padding-bottom: 48px;
}

.choose__item + .choose__item {
  margin-left: 30px;
}

.collection__image {
  margin-top: 72px;
  margin-bottom: 56px;
  margin-left: auto;
  margin-right: auto;
  width: 72px;
}

.image {
  margin-bottom: 72px;
}

.choose__inner-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #fefcf7;
  margin-bottom: 24px;
  text-align: center;
  position: relative;
}

.choose__inner-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fefcf7;
}

@media only screen and (max-width: 1041px) {
  .choose__content {
    margin-bottom: 0px;
  }
  .choose__title {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 24px;
  }
  .choose__text {
    font-size: 15px;
    line-height: 25px;
  }
  .choose__list {
    display: block;
    max-width: 1110px;
    margin-left: 57px;
    margin-right: 57px;
  }
  .choose__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 573px;
    padding-left: 47px;
    padding-right: 47px;
    margin-bottom: 24px;
    padding-bottom: 0;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
  }
  .choose__item + .choose__item {
    margin-left: auto;
  }
  .collection__image {
    margin-top: 62px;
    margin-bottom: 62px;
    margin-right: 55px;
  }
  .item__content {
    max-width: 344px;
    margin-top: 41px;
    margin-bottom: 41px;
  }
  .choose__inner-title {
    margin-bottom: 16px;
  }
  .choose__inner-text {
    font-size: 15px;
    line-height: 25px;
  }
}/*# sourceMappingURL=main.css.map */