@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Fraunces:opsz,wght@9..144,900&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Barlow", sans-serif;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.site-header {
  padding: 44px 0;
}

.site-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header__item + .site-header__item {
  margin-left: 32px;
}

.site-header__link {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
}

.site-header__menu {
  display: none;
}

@media only screen and (max-width: 800px) {
  .site-header__list {
    display: none;
  }
  .site-header__menu {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(../../img/menu.svg);
    background-position: center;
    cursor: pointer;
  }
}
@media only screen and (max-width: 600px) {
  .site-header__logo {
    max-width: 163px;
  }
}
#hero {
  padding-bottom: 123px;
}

.hero__block {
  padding: 117px 0;
  background-repeat: no-repeat;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  border-radius: 10px;
  background-position-x: right;
}

.hero__content {
  margin-left: 85px;
}

.hero__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
  font-family: "Fraunces", serif;
  max-width: 493px;
  margin-bottom: 32px;
}

.hero__text {
  max-width: 417px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  opacity: 0.8;
  margin-bottom: 56px;
}
@media only screen and (max-width: 1000px) {
  .hero__text {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 40px;
  }
}

.button {
  display: inline-block;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  color: #fefcf7;
  font-family: "Fraunces", serif;
  padding: 15px 31px;
  background-color: #0e8784;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .hero__block {
    padding: 104px 0;
    background-image: url(../img/hero-tablet.jpg);
  }
  .hero__content {
    margin-left: 58px;
  }
  .hero__title {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 24px;
    font-family: "Fraunces", serif;
    max-width: 329px;
  }
  .hero__text {
    max-width: 372px;
  }
}
@media only screen and (max-width: 684px) {
  .hero__content {
    margin-left: 0;
    text-align: center;
  }
  .hero__title {
    margin: 0 auto;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 24px;
  }
  .hero__text {
    margin: 0 auto;
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 500px) {
  .hero__content {
    padding: 0 24px;
  }
  .hero__block {
    padding: 100px 0;
    background-image: url(../img/hero-mobile.jpg);
  }
}/*# sourceMappingURL=main.css.map */