#collection {
  padding-top: 123px;
  padding-bottom: 200px;
}

.collection__list {
  background-repeat: no-repeat;
  background-image: url(../img/collection-bgc.png);
  background-size: contain;
  padding-top: 126px;
  max-width: 1111px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.collection__item {
  max-width: 255px;
  text-align: center;
}

.collection__img {
  width: 255px;
  margin-bottom: 71px;
}

.collection__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333d4b;
  margin-bottom: 24px;
}

.collection__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
}

@media only screen and (max-width: 1057px) {
  #collection {
    padding-top: 144px;
    padding-bottom: 144px;
  }

  .collection__list {
    padding-top: 59px;
    max-width: 689px;
    display: block;
  }

  .collection__item {
    max-width: 573px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 32px;
  }

  .img {
    width: 255px;
  }

  .collection__img {
    width: 255px;
    margin-bottom: 0;
  }

  .collection__content {
    max-width: 282px;
    margin-left: 36px;
  }
}

@media only screen and (max-width: 680px) {
  #collection {
    padding-top: 0;
    padding-bottom: 120px;
  }

  .collection__list {
    padding-top: 59px;
    max-width: 282px;
  }

  .collection__item {
    max-width: 282px;
    display: block;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 48px;
  }

  .img {
    width: 200px;
  }

  .collection__img {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 24px;
  }

  .collection__content {
    max-width: 282px;
    margin-left: 0;
  }

  .collection__title {
    margin-bottom: 16px;
  }
}
