.site-header {
  padding: 44px 0;
}
.site-header__container {
  @include flexA;
  justify-content: space-between;
}
.site-header__list {
  @include flexA;
}
.site-header__item + .site-header__item {
  margin-left: 32px;
}
.site-header__link {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
}
.site-header__menu {
  display: none;
}
@media only screen and (max-width: 800px) {
  .site-header__list {
    display: none;
  }
  .site-header__menu {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(../../img/menu.svg);
    background-position: center;
    cursor: pointer;
  }
}
@media only screen and (max-width: 600px) {
  .site-header__logo {
    max-width: 163px;
  }
}
